@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Frank Ruhl Libre";
  src: url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300;400;500;700;900&display=swap');
}
@font-face {
font-family: "Inter";
src:url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
}
@font-face {
font-family: "Plus Jakarta Sans";
src: url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
}
@font-face {
  font-family: 'Noto Serif Oriya';
  src:  url('https://fonts.googleapis.com/css2?family=Noto+Serif+Oriya:wght@500;600;700&family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
  }
  
  
  
  div, nav, footer, section, button {
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms; 
  }
  
  
    ::-webkit-scrollbar {
      display: none;
    }
    

.swiper {
  --swiper-theme-color: #656D72;
}

h1 {
  @apply font-Inter font-bold text-gray text-2xl md:text-3xl dark:text-whiteTextDarkMode 
}

h2 {
  @apply font-Inter text-grayMedium dark:text-grayLight text-base
}
h3 {
  @apply font-Inter text-sm font-semibold text-grayMedium dark:text-grayLight
}
h4 {
  @apply font-Inter text-lg lg:text-xl font-semibold text-gray dark:text-grayLight
}
p {
  @apply font-Inter text-gray dark:text-grayLight text-lg
}
span {
  @apply font-Inter text-gray dark:text-grayMedium 
}